services:
  # Services for prod profile (direct access)
  backend:
    image: lambki/emailsender-backend:latest
    container_name: emailsender-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend/db:/backend_app/db
      - ./backend/uploads:/backend_app/uploads
    environment:
      # Allow all origins since everything goes through nginx proxy
      - ALLOWED_ORIGIN_URLS-all
    env_file:
      - ./backend/.env
    networks:
      - emailsender-net
      - my-shared-proxy-net
    profiles:
      - prod

  frontend:
    image: lambki/emailsender-frontend:latest
    container_name: emailsender-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # REACT_APP_BACKEND_URL: "http://${IP_ADDR}:${BACKEND_PORT}/api"
        # For prod profile with separate nginx proxy, use relative URL
        REACT_APP_BACKEND_URL: "/email_sender/api"
        PUBLIC_URL: "/email_sender"
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    volumes:
      - ./frontend:/frontend
    depends_on:
      - backend
    networks:
      - emailsender-net
      - my-shared-proxy-net
    profiles:
      - prod

networks:
  my-shared-proxy-net:
    external: true
  emailsender-net:
    driver: bridge
